<div class="container mt-3 mb-3">
  <div class="row mt-3">
    <div class="col-6 col-sm-6 col-md-10 col-lg-10 col-xl-10">
      <input type="number" 
      id="txtValueNumber"
      class="form-control"
      placeholder="Digite um número"
      [(ngModel)]="valueNumber">
    </div>

    <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2">
      <button class="btn btn-primary form-control" (click)="getNumberDecompose()">Buscar</button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12" *ngIf="number != null">
      <h4>Resultado da Busca</h4>
      <div>
        <p>Número: {{number.value}}</p>
        <p>Divisores: {{number.divisors}}</p>
        <p>Divisores Primos: {{number.primeDivisors}}</p>
      </div>
    </div>
  
    <div class="col-12" *ngIf="number == null">
      <h4>Informe um número e clique em Buscar para ver seus divisores!</h4>
    </div>
  </div>
</div>